<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load lookupFilters %}
{% load sigFigs %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/tcl" />
<meta name="description" content="Transporter information for {{organ}}." />
<script type="text/javascript" src="/fda/media/text_size.js"></script>
<style type="text/css" title="text/css">
/* <![CDATA[ */
#header{
       width: auto;
       margin-left: 0px;
       background-color: #666666;
}
#header img{
       border: none;
}

/* ]]> */
</style>
<title>{{organ}} Transporter Data</title>
<link rel="icon" href="/fda/media/tdb.gif" type="image/x-icon" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31392819-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body style="font-family:arial">
<script type="text/javascript" src="/fda/media/wz_tooltip.js"></script>
<noscript>Change text size</noscript>
<map name="ucsfnosearch" id="ucsfnosearch">
       <area shape="rect" alt="UCSF home page" coords="38,3,288,27" href="http://www.ucsf.edu/" />
       <area shape="rect" alt="About UCSF" coords="306,11,368,19" href="http://www.ucsf.edu/about_ucsf/" />
       <area shape="rect" alt="UCSF Medical Center" coords="387,11,498,19" href="http://www.ucsfhealth.org/" />
</map>
<table border="0" width="100%">
<tr>
<td bgcolor="#666666"><div id="header">
<img src="/fda/media/ucsfgraynosearch.gif" alt="UCSF navigation bar" width="537" height="30" usemap="#ucsfnosearch" />
</div></td></tr>
</table>
<a href="http://www.ucsf.edu/">UCSF home page</a> | <a href="http://www.ucsf.edu/about_ucsf/">About UCSF</a> | <a href="http://www.ucsfhealth.org/">UCSF Medical Center</a>
<br />

<br />
<a href="#content">Skip to TransPortal content</a><br />
<br />
<map name="Map2" id="Map2">
<area shape="rect" coords="134,0,150,41" onclick="setTextSize('decr');" style="cursor:pointer" alt="Decrease the text size" onmouseover="TagToTip('incrSpan', OFFSETX, 0, OFFSETY, 20, DELAY, 0
)" /><area shape="rect" coords="151,0,166,41" onclick="setTextSize('reset');" style="cursor:pointer" alt="Restore original text size" onmouseover="TagToTip('resetSpan', OFFSETX, 0, OFFSETY, 20, DE
LAY, 0)" /><area shape="rect" coords="167,0,190,41" onclick="setTextSize('incr');" style="cursor:pointer" alt="Increase the text size" onmouseover="TagToTip('decrSpan', OFFSETX, 0, OFFSETY, 20, DELAY, 0
)" />
</map>

<span id="decrSpan"><strong>Enlarge Text</strong><br />Click to increase the text size.</span>
<span id="resetSpan"><strong>Restore Text</strong><br />Click to restore original text size.</span>
<span id="incrSpan"><strong>Reduce Text</strong><br />Click to decrease the text size.</span>

<table border="0" width="100%" cellpadding="0" cellspacing="0" summary="">
<tr>
<td width="100%" bgcolor="#003366"><img src="/fda/media/tdbbannerextended.jpg" alt="Transporter Database banner" width="619" height="66" border="0" /></td>
<td bgcolor="#003366">&nbsp;</td>
</tr>
<tr>
<td bgcolor="white"><center><a href="javascript:wz_tooltip;" onclick="setTextSize('decr');" >Decrease the text size</a> | <a href="javascript:wz_tooltip;" onclick="setTextSize('reset');" >Restore text size</a> | <a href="javascript:wz_tooltip;" onclick="setTextSize('incr');" >Increase the text size</a></center></td>
<td bgcolor="white" align="right"><img src="/fda/media/text_size_change.jpg" alt="Text Sizer image" usemap="#Map2" border="0" /></td>
</tr>
</table>
<table border="0" style="text-align:center; margin-left:20pt">
<tr><td><a href="/">Home</a></td>
<td style="padding-left:20pt;white-space:nowrap"><a href="/about/">About and More Information</a></td>
<td style="padding-left:20pt;white-space:nowrap"><a href="/index/">Transporter Data Index</a></td>
<td style="width:100%;text-align:right"><form method="get" action="../../search" name="search">
Search:&nbsp;<input size=15 type="text" name="keyword">&nbsp;<input type="submit" value="Search">
</form></td></tr></table>
<a name="content">&nbsp;</a>
<h1>Syncytiotrophoblast</h1>
<a href="#localization">Localization Information</a><br />
<a href="#qpcr">qPCR Expression Data</a><br />
<br />
<h2><a name="localization">Localization Information</a></h2>
<img src="/fda/media/placenta.png" alt="Important Transporter Localization in the Syncytiotrophoblast" usemap="#transnav" border="0"/>
<map name="transnav" id = "transnav">
    <area shape="rect" coords="92,67,167,88" href="../../transporters/ABCC5" alt="MRP5" />
    <area shape="rect" coords="92,131,167,151" href="../../transporters/SLC22A3" alt="OCT3" />
    <area shape="rect" coords="92,195,167,214" href="../../transporters/SLC22A11" alt="OAT4" />
    <area shape="rect" coords="92,257,167,278" href="../../transporters/SLCO2B1" alt="OATP2B1" />
    <area shape="rect" coords="300,28,377,47" href="../../transporters/ABCB1" alt="MDR1" />
    <area shape="rect" coords="300,59,377,80" href="../../transporters/ABCC1" alt="MRP1" />
    <area shape="rect" coords="300,93,377,113" href="../../transporters/ABCC2" alt="MRP2" />
    <area shape="rect" coords="300,127,377,147" href="../../transporters/ABCC3" alt="MRP3" />
    <area shape="rect" coords="300,161,377,181" href="../../transporters/ABCG2" alt="BCRP" />
    <area shape="rect" coords="300,194,377,214" href="../../transporters/SLC22A5" alt="OCTN2" />
</map>
<br />
<a href="/fda/media/placenta-image-text.html">text version of image</a><br />
image associated links:<br />
basolateral genes: <a href="../../transporters/ABCC5">MRP5</a>, <a href="../../transporters/SLC22A3">OCT3</a>, <a href="../../transporters/SLC22A11">OAT4</a>, <a href="../../transporters/SLCO2B1">OATP2B1</a><br />apical genes: <a href="../../transporters/ABCB1">MDR1</a>, <a href="../../transporters/ABCC1">MRP1</a>, <a href="../../transporters/ABCC2">MRP2</a>, <a href="../../transporters/ABCC3">MRP3</a>, <a href="../../transporters/ABCG2">BCRP</a>, <a href="../../transporters/SLC22A5">OCTN2</a><br /><br />
<br /><u style="margin-left:20pt">Notes:</u>
<ul><li>The study of the maternal-fetal barrier is highly dynamic. As new information becomes available we will update this page.</li>
<li>The expression of transporters at this barrier has been shown to change throughout gestation (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/19050320">Mikheev et al. Reprod Sci. 2008 Nov;15(9):866-77</a>). The figure above represents the localization of transporters in a full-term placenta.</li>
<li>The arrows indicate the transporter's primary direction of transport. However, for some SLC transporters, transport in the opposite direction is also possible. For example, glutarate efflux is trans-stimulated by extracellular estrone-3-sulfate or para-aminohippurate in OAT4-expressing S2 cells <a href="http://www.ncbi.nlm.nih.gov/sites/pubmed/15037815">(Ekaratanawong et al., J Pharmacol Sci. 2004 Mar;94(3):297-304).</a></li>
<li>The orange transporters OATP4A1, ATP7B, and ENT1 are shown, but not currently contained in our database.</li></ul>
<a href="#content">Back to top</a>
<h2>Expression Data</h2>
{% if expression %}
    <h3><a name="qpcr">Placenta - qPCR</a></h3>
    <span style="margin-left:15pt">Asterisk and bold rows indicates important transporters in the organ as identified in the organ diagram</span><br /><br />
    <table border="1" style="text-align:center; margin-left:20pt; font-family:verdana">
    <tr style="background-color:#FFAD5C">
    <th scope="col">Transporter</th>
    <th>Synonyms</th>
    <th width=20>Relative Expression (Transporter mRNA/PPIA&nbsp;mRNA)</th>
    </tr>
    {% for experiment in expression %}
        {% if experiment.trans|stringformat:"s" in important %}
            <tr style="font-weight: bold">
            <td scope="row"><a href="../../transporters/{{experiment.trans}}/">{{experiment.trans}}*</a></td>
        {% else %}
            <tr>
            <td scope="row"><a href="../../transporters/{{experiment.trans}}/">{{experiment.trans}}</a></td>
        {% endif %}
        <td>{{syns|keyConvStr:experiment.trans}}</td>
        {% ifequal experiment.value 0.0 %}
                <td>BLQ</td>
        {% else %}
                <td style="text-align:left; text-indent:20; font-size:12pt"><tt>{{experiment.value|showSigFigs:"3,6"|safe}}</tt></td>
        {% endifequal %}
	</tr>
    {% endfor %}
    </table>
    <p style="margin-left:30pt"><b>Samples obtained from females (n=8), 19 to 39-yr, Caucasian</b><br />
    BLQ = below limit of quantitation </p>
    <h3 style="margin-left:50pt">Graphical Representation of qPCR Data</h3>
    <img src="/fda/media/placentaExpression.png" alt="Graphical Representation of qPCR Data" /><br />
    Data from <a href="http://www.ncbi.nlm.nih.gov/pubmed/16415531">Nishimura M, Naito S</a><br />
{% else %}
    <h3>No expression data.</h3>
{% endif %}
<a href="#content">Back to top</a>
<br />
<br />
<a href="/contact/">Contact us</a> | <a href="/glossary/">Glossary</a>
<br />
<br />
<table border="0" width="100%" cellpadding="0" cellspacing="0" summary=""><tr>        
        <td width="100%" bgcolor="#003366"><img src="/fda/media/tdbbottom.jpg" alt="Blue banner" width="382" height="41" border="0" /></td>
</tr></table>
</body>
</html>
