<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/tcl" />
<meta name="description" content="A transporter database with information on expression, localization, substrates, inhibitors, and drug-drug interactions. Developed as a joint project by the FDA and UCSF." />
<meta name="google-site-verification" content="fFsGfAkMnv1ua_T4z4uvtM_K-TUgOWPS56wUVN7CrLM" />
<script type="text/javascript" src="/fda/media/text_size.js"></script>
<style type="text/css" title="text/css">
/* <![CDATA[ */
#header{
       width: auto;
       margin-left: 0px;
       background-color: #666666;
}
#header img{
       border: none;
}

/* ]]> */
</style>
<title>UCSF-FDA TransPortal</title>
<link rel="icon" href="/fda/media/tdb.gif" type="image/x-icon" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31392819-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body style="font-family:arial">	
<script type="text/javascript" src="/fda/media/wz_tooltip.js"></script>
<noscript>Change text size</noscript>
<map name="ucsfnosearch" id="ucsfnosearch">
       <area shape="rect" alt="UCSF home page" coords="38,3,288,27" href="http://www.ucsf.edu/" />
       <area shape="rect" alt="About UCSF" coords="306,11,368,19" href="http://www.ucsf.edu/about_ucsf/" />
       <area shape="rect" alt="UCSF Medical Center" coords="387,11,498,19" href="http://www.ucsfhealth.org/" />
</map>
<table border="0" width="100%">
<tr>
<td bgcolor="#666666"><div id="header">
<img src="/fda/media/ucsfgraynosearch.gif" alt="UCSF navigation bar" width="537" height="30" usemap="#ucsfnosearch" />
</div></td></tr>
</table>
<a href="http://www.ucsf.edu/">UCSF home page</a> | <a href="http://www.ucsf.edu/about_ucsf/">About UCSF</a> | <a href="http://www.ucsfhealth.org/">UCSF Medical Center</a>
<br />

<br />
<a href="#content">Skip to TransPortal content</a><br />
<br /> 
<map name="Map2" id="Map2">
<area shape="rect" coords="134,0,150,41" onclick="setTextSize('decr');" style="cursor:pointer" alt="Decrease the text size" onmouseover="TagToTip('incrSpan', OFFSETX, 0, OFFSETY, 20, DELAY, 0
)" /><area shape="rect" coords="151,0,166,41" onclick="setTextSize('reset');" style="cursor:pointer" alt="Restore original text size" onmouseover="TagToTip('resetSpan', OFFSETX, 0, OFFSETY, 20, DE
LAY, 0)" /><area shape="rect" coords="167,0,190,41" onclick="setTextSize('incr');" style="cursor:pointer" alt="Increase the text size" onmouseover="TagToTip('decrSpan', OFFSETX, 0, OFFSETY, 20, DELAY, 0
)" />
</map>

<span id="decrSpan"><strong>Enlarge Text</strong><br />Click to increase the text size.</span>
<span id="resetSpan"><strong>Restore Text</strong><br />Click to restore original text size.</span>
<span id="incrSpan"><strong>Reduce Text</strong><br />Click to decrease the text size.</span>

<table border="0" width="100%" cellpadding="0" cellspacing="0" summary="">
<tr>
<td width="100%" bgcolor="#003366"><img src="/fda/media/tdbbannerextended.jpg" alt="Transporter Database banner" width="1310" height="66" border="0" /></td>
<td bgcolor="#003366">&nbsp;</td>
</tr>
<tr>
<td bgcolor="white"><center><a href="javascript:wz_tooltip;" onclick="setTextSize('decr');" >Decrease the text size</a> | <a href="javascript:wz_tooltip;" onclick="setTextSize('reset');" >Restore text size</a> | <a href="javascript:wz_tooltip;" onclick="setTextSize('incr');" >Increase the text size</a></center></td>
<td bgcolor="white" align="right"><img src="/fda/media/text_size_change.jpg" alt="Text Sizer image" usemap="#Map2" border="0" /></td>
</tr>
</table>
<div align="right"><form method="get" action="search" name="search">
Search:&nbsp;<input size="15" type="text" name="keyword" />&nbsp;<input type="submit" value="Search" />
</form></div>
<br />
<strong><a name="content">Welcome</a> to the new UCSF-FDA TransPortal + UCSD/UCD-NIEHS TICBase site</strong>
<br />
Xenobiotic transporters (XT) are responsible for the uptake and efflux of drugs, chemical carcinogens and environmental toxins across the plasma membrane of cells. Efflux pumps in the ATP Binding Cassette family (ABC) are highly expressed in the intestine, liver, and kidney of both vertebrates and invertebrates, and play major roles in protection of organisms from environmental chemicals. Transporters in the Solute Carrier Superfamily (SLC) work together with ABC transporters to facilitate the transport of solutes across membranes in different tissues. <br />
<br />
<strong>The new UCSF-FDA TransPortal + UCSD/UCD-NIEHS TICBase is a standardized and publicly accessible website for archiving and disseminating information on mammalian transporter interactions with xenobiotics, including pharmaceuticals and environmental chemicals.</strong> Manually curated in vitro and clinical pharmacokinetic data are represented in the database along with references. The database was originally funded through a grant to K. Giacomini at the University of California San Francisco from the Critical Paths Initiative at the Food and Drug Administration (FDA) and expanded through a supplement to an award from the National Institutes of Environmental Health and Safety (NIEHS) to Drs. Amro Hamdoun, Kathy Giacomini and Sascha Nicklisch (NIH ES030318). We would like to acknowledge the students, postdocs and research staff who helped curate the information in the database in 2020.
<br />
<br />
<table border="0" width="100%" cellpadding="0" cellspacing="0" summary="">
<tr>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td width="25%" bgcolor="#ffffff" align="center"><img src="/fda/media/human_ABCB1_Vincristine.gif" alt="3d structure of human ABCB1 with vincristine" width="250" height="250" /></td>
<td width="25%" bgcolor="#ffffff" align="center"><img src="/fda/media/mouse_ABCB1a_BDE100_new.gif" alt="3d structure of mouse ABCB1a with BDE-100" width="250" height="250" /></td>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td width="12.5%" bgcolor="#ffffff"> </td>
</tr>
<tr>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td width="25%" bgcolor="#ffffff" align="center">Human ABCB1 with vincristine</td>
<td width="25%" bgcolor="#ffffff" align="center">Mouse ABCB1a with BDE-100</td>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td width="12.5%" bgcolor="#ffffff"> </td>
</tr>
<tr>
<td width="12.5%" bgcolor="#ffffff"> </td>
<td colspan="4"> The animated 3D structures of human ABCB1 in complex with vincristine (PDB ID: 7A69) and mouse Abcb1a with BDE-100 (PBD ID: 4XWK) were created by Angela M. Encerrado of the <a href="https://nicklischlab.faculty.ucdavis.edu/">Nicklisch Lab</a> using ChimeraX (v 1.3). The ChimeraX software was developed by the <a href="http://rbvi.ucsf.edu/">UCSF Resource for Biocomputing, Visualization, and Informatics (RVBI)</a> and is free for academic use.</td>
<td width="12.5%" bgcolor="#ffffff"> </td>
</tr>
</table>

<br />
<br />
<br />The following are links for more information.
<ul>
<li><a href="/index/">Transporter data index</a></li>
<li><a href="/about/">About the database</a></li>
<li><a href="/links/">Helpful links</a></li>
</ul>
<br />
<strong>Citing information:</strong><br />
If you use any information from this website, please cite the following publication:<br />
Morrissey KM, Wen CC, Johns SJ, Zhang L, Huang SM, Giacomini KM, "<a href="http://www.ncbi.nlm.nih.gov/pubmed/23085876">The UCSF-FDA TransPortal: A Public Drug Transporter Database</a>", <i>Clinical Pharmacology and Therapeutics</i> (2012) 92(5):545-6. <br />
<br />
<a href="/contact/">Contact us</a> | <a href="/glossary/">Glossary</a>
<br />
<br />
<table border="0" width="100%" cellpadding="0" cellspacing="0" summary="">
<tr>
        <td width="100%" bgcolor="#003366"><img src="/fda/media/tdbbottom.jpg" alt="Blue banner" width="382" height="41" border="0" /></td>
</tr>
</table>
</body>
</html>
